<a href="https://colab.research.google.com/github/AnannyaSagar/Python_Problems/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def flat_list(List):
  """
  This returns a flattened list for a nested list
  """ 
  flatist = [num for ele in List for num in ele]
  return flatist

In [ ]:
lis = [[1,2],[3,4],[5]]
flat_list(lis)

[1, 2, 3, 4, 5]

Common data in two lists

In [ ]:
def common_list(l1,l2):
  """
  returns whether two lists are same or not
  """
  for i in l1:
    for j in l2:
      if i == j:
        return True
  return False

In [ ]:
a = [1,2,3,4]
b= [5,6,7,8]

In [ ]:
common_list(a,b)

False

In [ ]:
def odd_even(l):
  """
  This function returns the count of even numbers and odd numbers respectively, in a list
  """
  even = 0
  odd = 0
  
  for i in l:
    if i%2 == 0:
      even +=1
    else:
      odd +=1
      return even, odd

In [ ]:
odd_even([1,90,89,9997,8889,6665,774])

(0, 1)