<a href="https://colab.research.google.com/github/AnannyaSagar/Python_Problems/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

add a new column

In [2]:
df['color'] = color

In [3]:
print(df)

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [4]:
import pandas as pd
import numpy as np
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
data = pd.DataFrame(exam_data)

In [5]:
data

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5

In [6]:
for index, row in data.iterrows():
  print(row['name'],row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

In [7]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

Write a Pandas program to get list from DataFrame column headers. Go to the editor
Sample Python dictionary data and list labels:

In [8]:
df.columns

Index(['name', 'score', 'attempts', 'qualify'], dtype='object')

Rename the columns

In [9]:
data.columns = ['n','s']
data

           n     s
0  Anastasia  12.5
1       Dima   9.0
2  Katherine  16.5

In [10]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Alter the columns

In [11]:
df1 = df[['col2','col3','col1']]
print(df1)

   col2  col3  col1
0     4     7     1
1     5     8     4
2     6     9     3
3     7     0     4
4     8     1     5

In [12]:
df2 = {'col1':5, 'col2':3, 'col3':6}

df1 = df1.append(df2,ignore_index= True)

In [13]:
df1

   col2  col3  col1
0     4     7     1
1     5     8     4
2     6     9     3
3     7     0     4
4     8     1     5
5     3     6     5

In [14]:
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

In [15]:
df1

        name         city
0  Anastasia   California
1       Dima  Los Angeles
2  Katherine   California
3      James   California
4      Emily   California
5    Michael  Los Angeles
6    Matthew  Los Angeles
7      Laura      Georgia
8      Kevin      Georgia
9      Jonas  Los Angeles

count city wise number of people

In [16]:
df1.groupby('city')['name'].count()

city
California     4
Georgia        2
Los Angeles    4
Name: name, dtype: int64

Display all rows and columns of the dataset

In [17]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [18]:
pd.set_option('display.max_rows',500)

Write a Pandas program to select a row of series/dataframe by given integer index

In [19]:
df.loc[0]

col1    1
col2    4
col3    7
Name: 0, dtype: int64

In [20]:
s = 'ALMABETTER'
t = ''
for i in s:
  t = i + t



print(t)

RETTEBAMLA

In [21]:
st = 'ALMABETTER'
o = []
e = []
for i,j in enumerate(st):
  if i%2 == 0:
    e.append(j)    
  else:
    o.append(j)
    
print("EVEN CHARACTERS:",e)
print("ODD CHARACTERS:",o)

EVEN CHARACTERS: ['A', 'M', 'B', 'T', 'E']
ODD CHARACTERS: ['L', 'A', 'E', 'T', 'R']

In [22]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

In [23]:
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [24]:
df = df.fillna(0)
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [25]:
df.reset_index(level=0,inplace =True)

In [26]:
df

   index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    0.0         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    0.0         1      no
8      8      Kevin    8.0         2      no
9      9      Jonas   19.0         1     yes

In [27]:
print( df.to_string(index=False))

 index      name  score  attempts qualify
     0 Anastasia   12.5         1     yes
     1      Dima    9.0         3      no
     2 Katherine   16.5         2     yes
     3     James    0.0         3      no
     4     Emily    9.0         2      no
     5   Michael   20.0         3     yes
     6   Matthew   14.5         1     yes
     7     Laura    0.0         1      no
     8     Kevin    8.0         2      no
     9     Jonas   19.0         1     yes

Number of null values

In [30]:
df.isnull().sum()

index       0
name        0
score       0
attempts    0
qualify     0
dtype: int64

In [32]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df1 = pd.DataFrame(d)

In [33]:
df1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [34]:
df1.drop(index=[2,4])

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

Divide the dataset in a given ratio

In [35]:
df_70 = df.sample(frac=0.70)

df_30 = df.drop(index = df_70.index)

In [36]:
df_70

   col1  col2  col3
3     4     7     0
1     4     5     8
2     3     6     9
0     1     4     7

In [37]:
df_30

   col1  col2  col3
4     5     8     1