<a href="https://colab.research.google.com/github/AnannyaSagar/Python_Problems/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

add a new column

In [ ]:
df['color'] = color

In [ ]:
print(df)

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [ ]:
import pandas as pd
import numpy as np
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
data = pd.DataFrame(exam_data)

In [ ]:
data

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5

In [ ]:
for index, row in data.iterrows():
  print(row['name'],row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

In [ ]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

Write a Pandas program to get list from DataFrame column headers. Go to the editor
Sample Python dictionary data and list labels:

In [ ]:
df.columns

Index(['name', 'score', 'attempts', 'qualify'], dtype='object')

Rename the columns

In [ ]:
data.columns = ['n','s']
data

           n     s
0  Anastasia  12.5
1       Dima   9.0
2  Katherine  16.5

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Alter the columns

In [ ]:
df1 = df[['col2','col3','col1']]
print(df1)

   col2  col3  col1
0     4     7     1
1     5     8     4
2     6     9     3
3     7     0     4
4     8     1     5

In [ ]:
df2 = {'col1':5, 'col2':3, 'col3':6}

df1 = df1.append(df2,ignore_index= True)

In [ ]:
df1

   col2  col3  col1
0     4     7     1
1     5     8     4
2     6     9     3
3     7     0     4
4     8     1     5
5     3     6     5

In [ ]:
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

In [ ]:
df1

        name         city
0  Anastasia   California
1       Dima  Los Angeles
2  Katherine   California
3      James   California
4      Emily   California
5    Michael  Los Angeles
6    Matthew  Los Angeles
7      Laura      Georgia
8      Kevin      Georgia
9      Jonas  Los Angeles

count city wise number of people

In [ ]:
df1.groupby('city')['name'].count()

city
California     4
Georgia        2
Los Angeles    4
Name: name, dtype: int64

Display all rows and columns of the dataset

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
pd.set_option('display.max_rows',500)

Write a Pandas program to select a row of series/dataframe by given integer index

In [ ]:
df.loc[0]

col1    1
col2    4
col3    7
Name: 0, dtype: int64

In [ ]:
s = 'ALMABETTER'
t = ''
for i in s:
  t = i + t



print(t)

RETTEBAMLA

In [ ]:
st = 'ALMABETTER'
o = []
e = []
for i,j in enumerate(st):
  if i%2 == 0:
    e.append(j)    
  else:
    o.append(j)
    
print("EVEN CHARACTERS:",e)
print("ODD CHARACTERS:",o)

EVEN CHARACTERS: ['A', 'M', 'B', 'T', 'E']
ODD CHARACTERS: ['L', 'A', 'E', 'T', 'R']

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

In [ ]:
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [ ]:
df = df.fillna(0)
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [ ]:
df.reset_index(level=0,inplace =True)

In [ ]:
df

   index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    0.0         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    0.0         1      no
8      8      Kevin    8.0         2      no
9      9      Jonas   19.0         1     yes

In [ ]:
print( df.to_string(index=False))

 index      name  score  attempts qualify
     0 Anastasia   12.5         1     yes
     1      Dima    9.0         3      no
     2 Katherine   16.5         2     yes
     3     James    0.0         3      no
     4     Emily    9.0         2      no
     5   Michael   20.0         3     yes
     6   Matthew   14.5         1     yes
     7     Laura    0.0         1      no
     8     Kevin    8.0         2      no
     9     Jonas   19.0         1     yes

Number of null values

In [ ]:
df.isnull().sum()

index       0
name        0
score       0
attempts    0
qualify     0
dtype: int64

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df1 = pd.DataFrame(d)

In [ ]:
df1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [ ]:
df1.drop(index=[2,4])

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

Divide the dataset in a given ratio

In [ ]:
df_70 = df.sample(frac=0.70)

df_30 = df.drop(index = df_70.index)

In [ ]:
df_70

   col1  col2  col3
3     4     7     0
1     4     5     8
2     3     6     9
0     1     4     7

In [ ]:
df_30

   col1  col2  col3
4     5     8     1

Combine two series into a dataframe

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])

In [ ]:
data_f = pd.concat([s1,s2],axis = 1)

In [ ]:
data_f

        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

In [ ]:
dfl = df.sample(frac =1)
dfl

        name  score  attempts qualify
8      Kevin    8.0         2      no
3      James    NaN         3      no
7      Laura    NaN         1      no
2  Katherine   16.5         2     yes
9      Jonas   19.0         1     yes
6    Matthew   14.5         1     yes
1       Dima    9.0         3      no
4      Emily    9.0         2      no
0  Anastasia   12.5         1     yes
5    Michael   20.0         3     yes

In [ ]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])

In [ ]:
r = pd.to_datetime(pd.Series(s))

In [ ]:
r

0   2000-03-11
1   2000-03-12
2   2000-03-13
dtype: datetime64[ns]

In [ ]:
s = 'I am working at Almabetter'
l = [i for i in s.split(" ") if len(i)%2 == 0]

print(l)

['am', 'at', 'Almabetter']

In [ ]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        return'Fibonacci Series:',a
    else:
        return'Fibonacci Series:',a
        return b
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            return c

In [ ]:
print(fib(8))

('Fibonacci Series:', 0)

In [ ]:
def fibonacci(n):
	#complete the recursive function
    fibolist = [0, 1]
    for i in range(n):
        if i>=2:
                fibolist.append(fibolist[i-2] + fibolist[i-1])

    for el in fibolist:
        yield el

In [ ]:
j = "Fibonacci Series: "
for i in fibonacci(15):
 j += str(i)+","
print(j)

Fibonacci Series: 0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

mid = int(len(l)/2)
mid

4

In [ ]:
f = l[:mid]
print(f)
s = l[mid:]
print(s,f)

[1, 2, 3, 4]
[5, 6, 7, 8] [1, 2, 3, 4]

In [ ]:
a = first_half[::-1]
b = sec_half[::-1]

In [ ]:
a

[4, 3, 2, 1]

In [ ]:
b

[8, 7, 6, 5]

In [ ]:
a+b

[4, 3, 2, 1, 8, 7, 6, 5]

In [ ]:
k = 'python is cool'

c= 0

for i in k:
  if i !=' ':
    c +=1
print(c)

12

In [ ]:
c = "we are what we do"
f = 0
for i in c.split(" "):
  if i == "we":
    f+=1

print(f)

2

In [ ]:
num = 1566
sum = 0
temp = num
while temp>0:
  digit = temp%10
  sum += digit**3
  temp //= 10

if num == sum:
  print("Armstrong")
else:
  print("Nope")

Nope

Pivot tables

In [2]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [3]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [4]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)

In [5]:
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [6]:
t = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
                    aggfunc={'D': np.mean,
                             'E': np.mean})

In [7]:
t

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [8]:
p = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
                    aggfunc={'D': np.mean,
                             'E': [min, max, np.mean]})

In [9]:
p

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0